body {
    margin: 0 auto;
    text-align:center;
}

h2 {
    color: #bf80ff;
    font-weight: bold;
}

p {
  font-size: 20px;
  color: #ffffff;
}

ul {
    font-size: 25px;
    font-weight: bold;
    color: #ff4da6;
    list-style-type: disc;
    margin: 0;
    padding: 0 0 0 20px;
}

strong {
    font-size: 25px;
    font-weight: bold;
    color: #ccb3ff;
}

img {
  width: 716px;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  transition: 0.5s;
}
img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.slide__pagenumber{
  font-size: 20px;
  color: white;
}

.slide__content{
  font-size: 30px;
  color: white;
}

a {
  font-size: 20px;
  color: #e8de9b;
}

iframe {
    margin: 20px 0;
}

button {
    margin-top: 20px;
}

form {
    margin-top: 20px;
}